:root {
  --verde-1: #3c8f13;
  --verde-2: #10573e;
  --bg: #f6faf6;
  --text: #123824;
  --muted: #617066;
  --radius: 8px;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

/* Navbar */
.navbar {
  background: linear-gradient(90deg, var(--verde-2), var(--verde-1));
}
.brand .logo {
  width: 30px;
    height: 30px;
    border-radius: 50%;   
    object-fit: cover;      
}

/* Links */
.nav-link {
  font-weight: 600;
  color: #f8fff8 !important;
  margin-right: 6px;
  border-radius: 6px;
  padding: 6px 8px;
}

/*tabela Login e Cadastro*/
.dropdown-menu {
  background: linear-gradient(90deg, var(--verde-2), var(--verde-1)) !important;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.dropdown-menu .dropdown-item {
  color: #fff;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*contatos*/
.contato {
  background: var(--bg);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

.contato h2 {
  color: var(--verde-2);
  margin-bottom: 10px;
}

.contato a {
  color: var(--verde-1);
  text-decoration: none;
  font-weight: 600;
}

.contato a:hover {
  text-decoration: underline;
}

/*forms*/
.form-card {
  background: linear-gradient(90deg, var(--verde-2), var(--verde-1));
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  max-width: 400px;
  margin: 4rem auto;
  color: #fff;
  text-align: center;
}

.btn-submit {
  padding: 0.7rem;
  border: none;
  border-radius: var(--radius);
  background-color: #ffcc00;
  color: #123824;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #e6b800;
}

.d-flex.gap-2 {
  display: flex;
  gap: 1rem;
}

.flex-fill {
  flex: 1;
}