{% extends "rumix/base.html" %}
{% load crispy_forms_filters %}
{% block title %}Lista de Animais/Adicionar - Rumix{% endblock %}
{% block content %}
<h1>{{ titulo }}</h1>
<a href="{% url 'animais:cadastrar' %}" class="btn btn-success mb-3">Cadastrar Novo Animal</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID do Animal</th>
      <th>Nome</th>
      <th></th>
      <th>Gênero</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for animal in object_list %}
    <tr>
      <td>{{ animal.identificacao_animal }}</td>
      <td>{{ animal.nome_animal }}</td>
      <td>{{ animal.especie_animal.nome }}</td>
      <td>{{ animal.get_genero_animal_display }}</td>
      <td>
        <a href="{% url 'animais:detalhe' animal.id %}" class="btn btn-primary btn-sm">Detalhe</a>
        <a href="{% url 'animais:editar' animal.id %}" class="btn btn-warning btn-sm">Editar</a>
        <a href="{% url 'animais:excluir' animal.id %}" class="btn btn-danger btn-sm">Excluir</a>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="5" class="text-center">Nenhum animal cadastrado.</td></tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a href="{% url 'rumix:index'%}" class="btn btn-primary btn-sm">Voltar para início</a>
</div>
{% endblock %}
