{% extends "rumix/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Login - Rumix{% endblock %}

{% block content %}
<section class="login-cadastro">
    <div class="form-card">
        <h2 class="site-title">Rumix</h2>

        <form method="post" id="loginCadastroForm">
            {% csrf_token %}
            
            <div id="formsContainer">
                <div id="loginForm" class="form-section active">
                    {{ login_form|crispy }}
                </div>
                <div id="cadastroForm" class="form-section">
                    {{ cadastro_form|crispy }}
                </div>
            </div>

            
            <div class="d-flex gap-2 mt-3">
                <button type="submit" name="login" class="btn-submit flex-fill">Login</button>
                <button type="submit" name="cadastro" class="btn-submit flex-fill">Criar Conta</button>
            </div>
        </form>
    </div>
</section>

<script>
function toggleForm() {
    const login = document.getElementById('loginForm');
    const cadastro = document.getElementById('cadastroForm');
    login.classList.toggle('active');
    cadastro.classList.toggle('active');
}
</script>
{% endblock %}