{% extends "rumix/base.html" %}

{% block title %}Meu Perfil | Rumix{% endblock %}

{% block content %}
<section class="container mt-5" style="max-width:700px;">
    <h2>Meu Perfil</h2>
    <hr>

    {% if user.foto_perfil %}
        <img src="{{ user.foto_perfil.url }}" class="rounded-circle mb-3" width="120">
    {% endif %}

    <p><strong>Nome:</strong> {{ user.first_name }} {{ user.last_name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    <a href="{% url 'usuarios:editar_perfil' %}" class="btn btn-primary mt-3">
        Editar Perfil
    </a>
</section>
{% endblock %}